.navigator {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.274);
  padding: 20px 10px;
}
.navigator__router a:hover {
  color: antiquewhite;
}
.user-login {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.user-login__email span {
  margin-right: 15px;
}
.user-login__email button {
  color: antiquewhite;
}