.navigator {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.274);
    padding: 20px 10px;

    &__router {
        a:hover {
            color: antiquewhite;
        }
    }

    &__auth {
    }
}

//===================== login-logout ============
.user-login {
    display: flex;
    column-gap: 20px;

    &__language-button {
    }

    &__email {
        span {
            margin-right: 15px;
        }
        button {
            color: antiquewhite;
        }
    }

    &__button-in {
    }
}
